<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!--Configure servlets-->

    <!--<servlet>
        <servlet-name>getAllUsersController</servlet-name>
        <servlet-class>
            section07_JavaWeb.topic03_WebPractice.T09_DeleteUserFromDB.controller.GetAllUsersController
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getAllUsersController</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteUserController</servlet-name>
        <servlet-class>
            section07_JavaWeb.topic03_WebPractice.T09_DeleteUserFromDB.controller.DeleteUserController
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteUserController</servlet-name>
        <url-pattern>/users/delete</url-pattern>
    </servlet-mapping>-->
</web-app>